{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
          <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" >
</head>
<body>
    



<section>
    <div class="authentification">
    <div class="Connexion">
    <h3>Connexion</h3>
</div>
<form method="post" action="{% url "login" %}">
    {% csrf_token %}
<div class="labe">
    <div class="labe">

        <label for="id_username">Nom complet</label>
        {{ form.username }}

        <label for="id_password">Mot de passe</label>
        {{ form.password }}

    </div>
   
</div>
<div class="chex">
    <input type="checkbox">
    <label for="souvenir">Se souvenir de moi</label>
    <div class="oublier">
    <p>Mot de passe oublier</p>
  </div>
</div>
<div class="compte">
    <p>Pas encore de compte? inscrivez-vous</p>
</div>
<div class="seconex">
    <button type="submit">Se connecter</button>
</div>
</div>
</form>
</div>
</section>





</body>
</html>