{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'responsive/connexion.css' %}"> {% endcomment %}

<main>

    <div class="connexion">
        <h1>Connexion</h1>

        <form method="post">
            {% csrf_token %}

            <!-- ERREURS GLOBALES -->
            <p class="error">{{ form.non_field_errors }}</p>

            <!-- USERNAME -->
            <div class="form-item">
                <label>Nom d'utilisateur</label>    
                {{ form.username }}
                {{ form.username.errors }}
            </div>

            <!-- PASSWORD -->
            <div class="form-item">
                <label>Mot de passe</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>

            <!-- OPTIONS -->
            <div class="form-item2">
                <input type="checkbox" id="remember">
                <label for="remember">Se souvenir de moi</label>

              
                <a href="#">Mot de passe oublié ?</a>
            </div>

            <!-- LIEN INSCRIPTION -->
            <a href="{% url 'signup' %}">
                Pas encore de compte ? Inscrivez-vous
            </a>

            <!-- BOUTON -->
            <div class="btn-form">
                <button type="submit">Se connecter</button>
            </div>

        </form>
    </div>

</main>

{% endblock %}