{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/detail-traiteur.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" >
</head>
<body>
    
        <header>
            
           <div class="logo">
    <img src="{% static 'images/logo.png' %}">
        </div>
    <nav>
     <div class="navig">
        <ul>
            
            <li><a href="{% url "services:accueil"%}">Accueil</a></li>
            <li><a href="#">Restaurants</a></li>
            <li><a href="#">Cours de cuisine</a></li>
            <li><a href="{% url "services:traiteur"%}">Traiteurs</a></li>
            <li><a href="responsive-contact.html">Contacts</a></li>
        </ul>
        </div>
    </nav>


   <div class="connecter">
    <a href="authentification.html"><h4 class="btn1">Connexion</h4></a>
   <h4 class="btn2">Inscription</h4>
</div>

</header>

<section>
    <div class="image">
     <img src="{% static 'images/banner-caterers.jpg' %}" alt="Banner">
    </div>
    <div class="icone">
        <p class="pari"><i class="fa-solid fa-star"></i>0.0/5</p>
        <p class="ripa"><i class="fa-solid fa-circle-check"></i>Verifier</p>
    </div>
</section>

<section>
    <div class="parent">
    <div class="marge1">
    <div class="block1">
        <div class="propos">
        <h3>A propos</h3>
             <p>
            {{ traiteur.description }}
        </p>
        </div>
   {% comment %} <div class="contacts">
        <h3>Contact</h3> {% endcomment %}


    <div class="contacts">
        <h3>Contact</h3>

        <p>
            <i class="fa-solid fa-location-dot"></i>
            {{ traiteur.adresse }}
        </p>

        <p>
            <i class="fa-solid fa-phone"></i>
            {{ traiteur.telephone }}
        </p>

        <p>
            <i class="fa-solid fa-envelope"></i>
            {{ traiteur.email }}
        </p>
    </div>


    </div>

    <div class="block2">
    <h3>Specialité</h3>
    <div class="lang">
        {% for s in traiteur.specialite.all %}
            <p class="btn{{ forloop.counter }}">{{ s.nomspecialite }}</p>
        {% empty %}
            <p class="btn1">Aucune</p>
        {% endfor %}
    </div>
</div>

  

   
    <div class="block3">
      
<div class="even">
  <h3>Services proposer</h3>
  <div class="then">
<div class="coller1">
           <p><i class="fa-solid fa-check"></i>Mariages</p>
           <p><i class="fa-solid fa-check"></i>Cocktails</p>
</div>
<div class="coller2">
            <p><i class="fa-solid fa-check"></i>Anniversaires</p>
            <p><i class="fa-solid fa-check"></i>Cuisine sur mesure</p>
           </div>
           </div>
</div>
</div>

<div class="marge2">
   <div class="experience">
        <h3>Date creation</h3>
                     <p>
            {{ traiteur.datedecreation }}
        </p>
    </div>
    </div>
   
     

    <div class="langue">
      <h3>Langue prlees</h3>
       <div class="langue1">
          <p>Francais</p>
           <p>indienne</p>
            <p class="lang1">Arabe</p>
       </div>
    </div>

    <div class="button">
<button class="btn23"><i class="fa-solid fa-phone"></i>Contact</button>
    </div> 
    </div>
</div>
</section>


 <footer class="footer-f">
        <div class="footer">

            <div class="services_footer">
                <p>Services</p><br>
                <ul>
                    <li>Traiteurs</li>
                    <li>Restaurants</li>
                    <li>Cours de Cuisine</li>
                </ul>
            </div>
            <div class="pro_space">
                <p>Espace Pro</p><br>
                <ul>
                    <li>Devenez partenaire</li>
                    <li>Connexion</li>
                    <li>FAQ Professionels</li>
                </ul>
            </div>
            <div class="contact">
                <p>Contact</p><br>
                <ul>
                    <li>StarBuffet</li>
                    <li>Dakar Senegal</li>
                    <li>Tel: +221 77 000 00 00</li>
                    <li>Email : contact@starbuff.com</li>
                    <li><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-solid fa-instagram"></i></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>&copy;2025 StarBuffet. Tous droits réservés.</p>
        </div>
    </footer>



</body>
</html>