{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    
      <header>
            
           <div class="logo">
    <img src="image/logo.png" alt="logo">
        </div>
    <nav>
     <div class="navig">
        <ul>
            
            <li><a href="index.html">Accueil</a></li>
            <li><a href="#">Restaurants</a></li>
            <li><a href="#">Coursdecuisine</a></li>
            <li><a href="Traiteurs.html"  class="active">Traiteurs</a></li>
            <li><a href="responsive-contact.html">Contacts</a></li>
        </ul>
        </div>
    </nav>


   <div class="connecter">
   <a href="authentification.html"><h4 class="btn1">Connexion</h4></a>
   <h4 class="btn2">Inscription</h4>
</div>
</header>

<section>
    <div class="traiteur">
        <h1>Devenir Traiteur</h1>
        <p>Decouvrez nos traiteurs Professionels pour vos evenements, mariages, bapteme et <br> reception</p>
    </div>
    <div class="image">
        <!-- <img src="image/banner-caterers.jpg" alt=""> -->
    </div>
</section>

<section class="section">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="forms">
        
        <div class="min">
            <h2>information de base</h2>
            <div class="text">
             <p>Nom complet</p>
             {{form.nomcomplet}}
              {{form.nomcomplet.errors}}
              <p class="email">Email</p>
            {{form.email}}
              {{form.email.errors}}
              </div>
        <div class="form-text">
   <input type="text">
   <input type="text">
   
        </div>
        {% comment %} <div class="text1">
            <p>Mot de passe</p>
            <p class="para">Confirmer le mot de passe</p>
        </div>
        <div class="form-text1">
   
    <input class="input1" type="text" placeholder="........">
   
    <input  type="password"  >

        </div> {% endcomment %}
        </div>

         {% comment %} <div class="box">
        <div class="title">
           
            <h2>Informations professionelles</h2><br>
        </div>
        <div class="form-select">
    <label for="">Categorie</label><br>
     <select name="mes option" id="">
        <option value="">Selectionnez une categorie</option>
     </select>

        </div>
        <div > {% endcomment %}
{% comment %} <p> Annee d'experiences</p>

</div>
{% endcomment %}
<div class="form-input">

    <p>Description</p>
   
    <textarea name="description" id="">Description</textarea>
                {{form.description}}
              {{form.description.errors}}

        </div> 

        <br>
        <h3 for="">Specialite</h3>
        <div class="case">
        <div class="chexbox">
            
            <input type="checkbox">
            <label for="">Francais</label><br>
            {{form.specialite}}
              {{form.specialite.errors}}
            
        </div>

        <div class="chexbox1">
            <input type="checkbox">
            <label for="">Idienne</label><br>
            {{form.specialitet}}
              {{form.specialite.errors}}

        </div>
        </div>
    </div>

    <div class="info">
<h2>Informations de Contacts</h2><br>
 <div class="text3">
            <p>Telephone</p>
            {{form.telephone}}
              {{form.telephone.errors}}
            <p class="para1">Adresse</p>
            {{form.adresse}}
              {{form.adresse.errors}}
        </div>

<div class="check">
     <input type="text">
    
    <input type="text"> 

</div>
    </div>

    
    <div class="contacts">
        <h2>Photo de profil</h2>
        <p>Photo</p>
        <div class="file">
       <input type="file" id="fichier" hidden>
<label for="fichier" class="btn-file">
    Choisir un fichier
</label> <p>Aucun fichier choisi</p>
</div>
        <p>Formats acceptes : JPG, JPEG, PNG. Taille maximal : 10MB</p>

    </div>
   
     <div class="bbb">
        <button>S'inscrire</button>
    </div>
    </div>
    </form>
    
</section>

<footer>
        <div class="footer">
            
            <div class="services_footer">
                <p>Services</p><br>
                <ul>
                    <li>Traiteurs</li>
                    <li>Restaurants</li>
                    <li>Cours de Cuisine</li>
                </ul>
            </div>
            <div class="pro_space">
                <p>Espace Pro</p><br>
                <ul>
                    <li>Devenez partenaire</li>
                    <li>Connexion</li>
                    <li>FAQ Professionels</li>
                </ul>
            </div>
            <div class="contact">
                <p>Contact</p><br>
                <ul>
                    <li>StarBuffet</li>
                    <li>Dakar Senegal</li>
                    <li>Tel: +221 77 000 00 00</li>
                    <li>Email : contact@starbuff.com</li>
                    <li><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-solid fa-instagram"></i></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>&copy;2025 StarBuffet. Tous droits réservés.</p>
        </div>
    </footer>



</body>
</html>